*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}
.buttons{
    margin: 17px 0 ;
    display: flex;
    gap: 35px;
    
}

button{
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}
button:hover{
    opacity:0.7;


}


#rock{
    background-color:#a1069a;
}

#paper{
    background-color:#73db70 ;
}

#scissors{
    background-color:#177bda ;
}

p{
    font-weight: bold;
    margin-bottom: 15px;
}

.your-score span{
    color: #06dd18;
}

.machine-score span{

    color: rgb(240, 76, 11);
}